@page "/accessdenied"

<div class="row">
    <div class="="col-12">
        <div class="card">
            <div class="="card-body flex-column">
                <div class="text-center">
                    <img src="/images/access-denied.png" style="max-height:5rem" />
                    <div class="text-center mt-2">
                        <span class="text-danger fw-bolder">You do not have permission to access this page.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
